<!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Personal Detail</h3>
          <p class="fst-italic">
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span>Fakhri</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>19 October, 1999</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Banda Aceh, Aceh, Indonesian</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Religion:</strong> <span>Islam</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Marital Status:</strong> <span>Belum Kawin</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>fakhrimoo19@gmail.com</span></li>
              </ul>
            </div>
          </div>
          <p>
            Perkenalkan nama saya Fakhri, saya berasal dari Provinsi Aceh tepat nya di Kota Banda Aceh, lahir pada tanggal 19 Oktober 1999, menjadi anak ke 2 dari 3 bersaudara, menempuh pendidikan di provinsi Aceh selama 12 tahun di mulai dari SD Negeri 54 Kota Banda Aceh dan berlanjut ke salah satu SMP favorit di Kota Banda Aceh yaitu SMP Negeri 6 Kota Banda Aceh dan berlanjut ke Sekolah Menengah Kejuruan (SMK) yaitu pada SMK Negeri 5 Telkom Kota Banda Aceh.
            Setiap orang memiliki tujuan dan rencana masa depan yang baik, segala proses akan dilalui dari pengalaman dan kesempatan yang didapatkan, baik dan buruknya tergantung dari sikap dan cara kita menghadapi nya, masa depan saya adalah menjadi seorang ahli di bidang saya, dan menjadi orang yang bermanfaat serta berguna di lingkungan sekitar serta menjadi contoh baik kepada orang lain. 
          </p>
        </div>
      </div>

    </div><!-- End About Me --> 
